<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url({{imgUrl}})" >
    <div class="container position-relative d-flex flex-column align-items-center">

      <!-- <h2>{{ pageTitle }}</h2>
     
      <ol>
        <div *ngFor="let breadCrumbsItem of breadCrumbsItems">
          <li>
            <a href="#" class="{{ breadCrumbsItem.class }}" 
            routerLink="{{breadCrumbsItem.routerLink}}" 
            routerLinkActive="{{breadCrumbsItem.routerLinkActive}}">
            {{breadCrumbsItem.name}}
            </a>/
          </li>  
        </div>
        {{ pageTitle }}
      </ol> -->
   
    </div>
  </div><!-- End Breadcrumbs -->
