<section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Why Choose Us</h2>

      </div>

      <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

        <div class="col-xl-5 img-bg" style="background-image: url('../../assets/img/WhyUs.jpg')"></div>
        <div class="col-xl-7 slides  position-relative">

          <div class="slides-1 swiper">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <div class="item">
                  <h3 class="mb-3">Experience the Difference with Our Years of Expertise</h3>
                  <h4 class="mb-3">Our team has the knowledge and expertise to create beautiful and functional outdoor spaces. We have completed numerous projects for both residential and commercial clients, and we are committed to delivering exceptional results every time.</h4>
                </div>
              </div><!-- End slide item -->

              <div class="swiper-slide">
                <div class="item">
                  <h3 class="mb-3">Custom designs tailored to your unique outdoor space</h3>
                  <h4 class="mb-3">We understand that every outdoor space is unique, and we take a customized approach to every project we undertake. We work closely with each client to understand their specific needs, preferences, and budget, and we create customized solutions that meet their goals and exceed their expectations.</h4>
                </div>
              </div><!-- End slide item -->

              <div class="swiper-slide">
                <div class="item">
                  <h3 class="mb-3">Attention to detail is in our DNA</h3>
                  <h4 class="mb-3">We take pride in our attention to detail and our commitment to delivering outstanding results. From the initial design phase to the final installation, we pay close attention to every detail to ensure that your outdoor space is functional, beautiful, and meets your expectations.</h4>
                </div>
              </div><!-- End slide item -->

              <div class="swiper-slide">
                <div class="item">
                  <h3 class="mb-3">Professionalism at its finest</h3>
                  <h4 class="mb-3">We only use fully licensed and insured landscaping trades, and we are committed to providing our clients with the highest level of professionalism and customer service. We work efficiently and effectively to ensure that your project is completed on time and within budget, and we strive to exceed your expectations at every step of the way.</h4>
                </div>
              </div><!-- End slide item -->
              <div class="swiper-slide">
                <div class="item">
                  <h3 class="mb-3">Quality materials, the foundation of great design</h3>
                  <h4 class="mb-3">We believe that using quality materials is essential to creating a beautiful and durable outdoor space. We use only the highest quality materials, including plants, stones, and other materials, to ensure that your outdoor space will look beautiful and last for years to come.</h4>
                </div>
              </div><!-- End slide item -->
            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

      </div>

    </div>
  </section><!-- End Why Choose Us Section -->

