<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
            <p><br/><br/><br/></p>
            <p><br/><br/><br/></p>
            <h2 data-aos="fade-up">From Vision to Reality<br>Creating Stunning Landscapes</h2>
            <content data-aos="fade-up" data-aos-delay="100">
              <p><br/></p>
              <p>Welcome to Mulberry, a full-service landscaping design and build company. We are passionate about creating beautiful outdoor spaces that enhance the natural beauty of the environment while adding value and functionality to our clients' properties.</p>           
              <p>At Mulberry, we believe that every outdoor space is unique, and we take pride in working closely with our clients to create custom solutions that meet their specific needs and desires. Our design process is collaborative, and we take the time to listen to our clients' ideas and visions, incorporating them into our designs to create spaces that are not only beautiful but also functional and sustainable.</p>
              <p>Thank you for considering Mulberry for your landscaping needs. We look forward to the opportunity to work with you and to creating a beautiful outdoor space that you can enjoy for years to come.</p>
            </content>  
        </div>
      </div>
    </div>
  </section>


