
    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
        <div class="container" data-aos="fade-up">
          <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
              <h3>Are you ready?</h3>
              <p>Don't wait any longer to achieve the outdoor space of your dreams. Contact us today to schedule your free consultation and take the first step towards creating the perfect outdoor oasis for you and your family to enjoy.</p>
              <a class="cta-btn" href="#">Contact US</a>
            </div>
          </div>
  
        </div>
      </section><!-- End Call To Action Section -->
  
      <!-- ======= Features Section ======= -->
      <section id="features" class="features">
  
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
              <div class="section-header">
                <h2>Our Core Values</h2>
        
              </div>
              
              <div class="row gy-4">
  
                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="bi-dice-1" style="color: #ffbb2c;"></i>
                    <span>Quality: We are dedicated to delivering high-quality workmanship, using only the best materials and techniques. We take pride in our work and strive to exceed our clients' expectations.</span>
                  </div>
                </div><!-- End Icon List Item-->
  
                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="bi-dice-2" style="color: #5578ff;"></i>
                    <span>Customer Satisfaction: We are committed to providing exceptional customer service and ensuring that our clients are 100% satisfied with the work we do. </span>
                  </div>
                </div><!-- End Icon List Item-->
  
                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="bi-dice-3" style="color: #e80368;"></i>
                    <span>Innovation: We embrace innovation and constantly seek out new and creative ways to design and build outdoor spaces.</span>
                  </div>
                </div><!-- End Icon List Item-->
  
                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="bi-dice-4" style="color: #e361ff;"></i>
                    <span>Sustainability: We believe in creating sustainable outdoor spaces that are environmentally responsible and energy-efficient. </span>
                  </div>
                </div><!-- End Icon List Item-->
                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="bi-dice-5" style="color: #6029b8;"></i>
                    <span>Creativity: We believe that every outdoor space should be as unique and individual as the homeowner. </span>
                  </div>
                </div><!-- End Icon List Item-->
                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="bi-dice-6" style="color: #47aeff;"></i>
                    <span>Community: We are committed to giving back to our community and supporting local organizations and charities.</span>
                  </div>
                </div><!-- End Icon List Item-->
               </div>
            </div>
            <div class="col-lg-5 position-relative" data-aos="fade-up" data-aos-delay="200">
              <div class="phone-wrap">
                <img src="assets/img/compas.jpg" alt="Image" class="img-fluid">
              </div>
            </div>
          </div>
  
        </div>
  
        <div class="details">
          <div class="container" data-aos="fade-up" data-aos-delay="300">
            <div class="row">
              <div class="col-md-6">
                <h4>Plant Your Dreams, Contact Us to Make Them a Reality</h4>
                <p>We will be happy to discuss your ideas and needs, provide you with more information about our services, and help you make an informed decision. We look forward to hearing from you and helping you create the beautiful outdoor space you deserve.</p>
                <a href="#about" class="btn-get-started">Get Started</a>
              </div>
            </div>
  
          </div>
        </div>
  
      </section><!-- End Features Section -->