<!-- ======= Our Services Section ======= -->
<section id="services-list" class="services-list">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Our Services</h2>

      </div>

      <div class="row gy-5">

        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="icon flex-shrink-0"><i class="bi bi-pencil-square" style="color: #000000;"></i></div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Design</a></h4>
            <p class="description">Landscape designers work closely with clients to understand their needs and preferences, and create customized outdoor spaces that are both functional and aesthetically pleasing. </p>
          </div>
        </div>
        <!-- End Service Item -->
        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="icon flex-shrink-0"><i class="bi bi-kanban" style="color:#f5cf13;"></i></div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Project Management</a></h4>
            <p class="description">Whether you decide to work with your own trades or choose to use our recommended trades, we provide you with an exceptional project management service to ensuring that your project build as it planned, stays within budget and is completed on time, while still maintaining the highest level of quality possible.  </p>
          </div>
        </div>
        <!-- End Service Item -->
        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="icon flex-shrink-0"><i class="bi bi-water" style="color:#1335f5; "></i></div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Pool, SPA and other Water Features</a></h4>
            <p class="description">Whether it's a small plunge pool or a large resort-style pool, a professional designer and builder can transform any outdoor space into a stunning and functional oasis.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="icon flex-shrink-0"><i class="bi bi-tree-fill" style="color: #0a6923;"></i></div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Planting, and other Softscape Services</a></h4>
            <p class="description">The design and implementation of softscape and planting features require careful consideration of factors such as soil quality, light exposure, water availability, and climate conditions. </p>
          </div>
        </div><!-- End Service Item -->
        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="icon flex-shrink-0"><i class="bi bi-layout-three-columns" style="color: #773903;"></i></div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Decks and other Outdoor Stuctures</a></h4>
            <p class="description">Whether you choose composite or timber for your deck, it's important to work with a professional to ensure that it is designed and constructed properly. </p>
          </div>
        </div><!-- End Service Item -->
        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
          <div class="icon flex-shrink-0"><i class="bi bi-columns-gap" style="color: #818484;"></i></div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Interlocks and other Hardscape Services</a></h4>
            <p class="description">Our team has extensive experience in designing and building interlock and ceramic pavement installations. </p>
          </div>
        </div><!-- End Service Item -->
      </div>
    </div>
  </section><!-- End Our Services Section -->
