<!-- ======= Recent Blog Posts Section ======= -->
<section id="recent-posts" class="recent-posts">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Landscaping 101</h2>

      </div>

      <div class="row gy-5">

        <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="post-box">
            <div class="post-img"><img src="assets/img/blog/spool.jpg" class="img-fluid" alt=""></div>
            <h3 class="post-title">Small Pool / SPA Ideas for Small Backyards</h3>
            <p>If you have a small backyard, you might think that a pool or spa is out of the question. However, with the right design and planning, you can create a beautiful and functional outdoor space that includes a small pool or spa...</p>
            <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
       <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="post-box">
            <div class="post-img"><img src="assets/img/blog/hosta.jpg" class="img-fluid" alt=""></div>
            <h3 class="post-title">How to Create a Lush, Shade-Filled Oasis in Your Small Backyard</h3>
            <p>If you have a small backyard that gets less sun than you'd like, you might think that your options for plants and landscaping are limited. However, there are many full shade plants that can thrive in low-light environments and create a lush, green oasis in your outdoor space...</p>
            <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="post-box">
            <div class="post-img"><img src="assets/img/blog/Cherry.jpg" class="img-fluid" alt=""></div>
            <h3 class="post-title">Why Using Multiple Colors is Essential for a Beautiful Garden</h3>
            <p>When it comes to creating a beautiful garden, using a variety of colors is one of the most important factors. While a single color scheme can be striking, it can also be monotonous and uninspiring. On the other hand, using multiple colors can create a vibrant and eye-catching landscape that will delight you and your guests...</p>
            <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="post-box">
            <div class="post-img"><img src="assets/img/blog/water.jpg" class="img-fluid" alt=""></div>
            <h3 class="post-title">The Importance of Using Water Features in Your Landscaping Design</h3>
            <p>EWater features, such as fountains, waterfalls, and ponds, can add a unique and appealing element to your landscaping design. They not only enhance the beauty of your outdoor space but also provide numerous benefits to your property and your well-being...</p>
            <a href="blog-details.html" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Recent Blog Posts Section -->


